////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS
// 1.0 - clearfix
// 2.0 - center-h-v
////////////////////////////////////////////////////////////////////////////////

// 1.0 - clearfix
//******************************************************************************

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// END 1.0 - clearfix
//******************************************************************************

// 2.0 - center-h-v
//******************************************************************************

@mixin center-h-v {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// END 2.0 - center-h-v
//******************************************************************************