////////////////////////////////////////////////////////////////////////////////
// TABLE OF CONTENTS
// 1.0 - u-center-text
// 2.0 - u-margin-bottom-big
// 3.0 - u-margin-bottom-small
////////////////////////////////////////////////////////////////////////////////

// 1.0 - u-center-text
//******************************************************************************

.u-center-text { text-align: center; }

// 2.0 - u-margin-bottom-big
//******************************************************************************

.u-margin-bottom-big { margin-bottom: 8rem; }

// 3.0 - u-margin-bottom-small
//******************************************************************************

.u-margin-bottom-small { margin-bottom: 1.5rem; }
